{{page-title 'User'}}
<div class="container">
  <div class="columns is-centered">

    {{#each @model as |user|}}
    {{!-- Only display users with user.value === false --}}
      {{#unless user.value }}
        <div class="column">
          <LinkTo @route="users.user" @model={{user}}>
            <div class="user-select is-220px">
              <img
                class="is-pulled-left"
                src={{user.image}}
                width="60px"
                alt="profile-image"
              />
              <p>{{user.name}}</p>
            </div>
          </LinkTo>
        </div>
      {{/unless}}
    {{/each}}

  </div>
</div>
